.TypeScriptBlue {
    color: lightblue;
}
.NodeJSGreen {
    color: darkgreen;
}
.NETBlue {
    color: darkblue
}
.ReactBlue {
    color: #61DBFB;
}
.VueGreen {
    color: #42b883;
}
.RubyRed {
    color: Red;
}