.TypeScriptBlue {
    color: lightblue;
}
.NodeJSGreen {
    color: darkgreen;
}
.NETBlue {
    color: darkblue
}
.ReactBlue {
    color: #61DBFB;
}
.VueGreen {
    color: #42b883;
}
.RubyRed {
    color: Red;
}
.wrapper-style2-container-special-alt{
    background-color: #0066ff;
    /* background-image: url(../images/light-bl.svg), url(../images/light-br.svg); */
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: white;
    padding: 100px;
    margin: 0px 190px 100px;
    font-size: 20px;
    height: 453px;
    font-family: Lato, sans-serif;
}
.innerInfoBox {
    margin-left: 25px;
    width: 66.6666666667%;
    float: left;
    padding-top: 0!important;
    letter-spacing: 0.1em;

}
.infoBoxTitle {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: -30px;
}
.infoBoxButtons {
    margin-bottom: 0;
    cursor: default;
    margin-left: -70px;
    margin-top: 65px;
}
.infoBoxButtonSpecial{
    background: white;
    border-color: white;
    color: #0066ff !important;
    padding-left: 12px;
    padding-right: 12px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center
}
.infoBoxPaddingLeft{
    padding-left: 20px;
}
.infoBoxText {
    letter-spacing: 2px;
    line-height: 1.75em;
    font-family: Lato, sans-serif;
}