.VaporjawnCTABanner {
    padding: 104px 0px;
    background-attachment: scroll;
    background-image: url("../../../assets/images/VaporjawnBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}