.CTAGlow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 30px #0066ff;
    font-size: 40px;
}
.CTAGlow-small {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 30px #0066ff;
    font-size: 20px;
}

.CTA {
    padding: 70px;
}