.App-header {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 52px;
    margin: 70px;
}
.temple {
    color: #9D2235;
}
.glow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 30px #0066ff;
    font-size: 53px;
}

.blerb{
    font-size: 22px;
}