.instagramPicture{
    width: 100%;
    height: 100%;
    /* left: 0;
    top: 0; */
}

.instagramPictureContainer{
    width: 90%;
    padding: 93px;
    /* background-color: #181A1B; */
    background-color:rgb(251, 245, 237);
    margin-left: auto;
    margin-right: auto;
}

.rowContainer{
    margin-left: -40px;
    padding-top: 5%;
    display: inline-block;
    /* display: block; */
}

.sectionContainer{
    /* padding-left: 150px; */
    padding-left: 10.7%;
    width: 35%;
    margin: 0;
    /* margin-right: -1920px; */
    float: left;
}

.instagramContainerHeader{
    text-align: center;
    font-size: 28px;
}

.instagramPictureTitle {
    text-align: center;

}

.instagramPictureText{
    text-align: center;
    letter-spacing: 0.466667px;
    line-height: 32.6667px;
    font-size: 18.6px;
}

.redLink{
    color: red;
}